---
---

<!DOCTYPE html>
<html
	lang="en"
	class="bg-slate-100 leading-6 text-gray-900 px-2 py-4 md:px-8 md:py-8"
>
	<head>
    <title>demo app: netlify + astro + external_node_modules</title>
	</head>
	<body>
		This app demonstrates a bug in using Netlify's
		<code>external_node_modules</code> with Astro.
  </body>
</html>
